/* apply border-box sizing to all elements */

*,
::before,
::after {
box-sizing: border-box;
}

html {
    background: #fff;
}

main {
    margin-left: 2%;
    margin-right: 2%
}

/* SITE HEADER CSS */

header img {
    max-width: 100%;
    margin-left: 10px;
}

.header-desktop {
    display: none;
}

.nav-bar-desktop-full-width-container {
    display: none;
}

.about-us-homepage-photo {
    display: none;
}

section {
    padding-left: 0;
    margin-left: 0px;
    border-radius: 5px;
}

/* MOBILE HEADING BANNER CSS */

.mobile-heading-banner {
    padding: 15px 0 15px 0
}

.mobile-heading-banner img {

    max-height: auto;
    max-width: 100%;
    border-radius: 3px;
    padding: 0px;


}

.mobile-logo-menu-div {
    display: flex;
    justify-content: space-between;
}

.mobile-logo-header {
    width: 300px;
}

.mobile-hamburger-menu {
    padding-right: 20px;
    padding-top: 5px;
}

.mobile-hamburger-line {
    width: 28px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

/* MOBILE NAV BAR STYLING */

.nav-bar-mobile {
    list-style: none;
    position: fixed;
    top:0;
    right:-200px;
    background-color: black;
    margin-top: 0px;
    padding-top: 100px;
    height: 100%;
    width: 200px;
    color: white;
    transition: all .5s;
    font-family: 'Poppins', sans-serif;
}

.show-mobile-menu {
    right: 0px;
    box-shadow: 0px 0px 800px 100px grey;
}

.mobile-nav-item {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid white;
    margin-right: 40px;
}

.mobile-nav-anchor {
    text-decoration: none;;
}

.mobile-nav-anchor:visited {
    color: white;
}

.close-mobile-menu {
    font-size: 30px;
}


.heading-banner h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 50px;
    position: absolute;
    
}


section h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

section p, section p a {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

section h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin: 0;
}

/* ABOUT US HOMEPAGE MOBILE */

.about-us-homepage {
    background-color: #f4f4f4;
    padding: 10px 15px 20px 15px;
    margin-bottom: 25px;
}

.about-us-homepage p {
    line-height: 1.7;
    font-size: 16px ;
    color: #858585
}

.about-us-homepage h2 {
    text-align: left;
}

.about-us-homepage p a {
    text-decoration: none;
    font-weight: 600;
}

/* AREAS OF PRACTICE STYLING */

.practice-areas h2, .practice-areas p, .practice-areas i {
    text-align: center;
    margin: 10px 0
}

hr:first-child {
    margin-top: 0px;
    width: 60px;
    border: 2px solid #bba285 
}

hr:nth-child(3) {
    margin-top: 12px;
    margin-bottom: 30px;
    width: 60px;
    border: 2px solid #bba285 
}


.practice-area-card {
    padding: 30px 15px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    margin-bottom: 25px;
    padding-top: 10px;
    
}

.practice-area-card i {
    font-size: 64px;
    width: 100%;
    color: #bba285;
   
}

.practice-areas {
    padding-bottom: 0px;
}

/* styling for Partner Bio cards */

.attorney-bio-section-title {
    margin: 0px;
}

.attorney-bio-name {
    font-size: 25px;
    font-weight: 700;
}

.attorney-bio-photo {
    width: 100%;
    border-radius: 5px;
    padding-bottom: 10px;
}

.attorney-bio-card{
    box-shadow: 0 0 35px rgb(10 10 10 / 9%)
    
}

.attorney-bio-card p {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.7;
    color: #858585;
    font-size: 16px;
}

.attorney-bio-card a {
    font-size: 15px; 
    text-decoration: none;
    font-weight: 600;
}

.attorney-bio-card p:last-child {
    padding-bottom: 20px;
    
}

/* STYLING FOR FOOTER MOBILE */


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    max-width: 200px ;

}

.footer-text {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

/*ABOUT US PAGE MOBILE CSS STARTS HERE */

.about-us-photo {
    width: 100%;
}

.about-us-text {
    padding: 0 10px 0 10px;
    font-size: 17px;
    line-height: 1.7;
}

.carl-name {
    margin-top: 20px;
    margin-bottom: 0;
}

#carl-hr {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 5px;
    border: 1px solid #bba285;
}

.carl-photo {
    max-width: 100%;
}

.in-memorium-header {
    padding-bottom: 20px;
}

/* ATTORNEYS MOBILE PAGE */

.attorneys-selection-title {
    padding-top: 10px;
    padding-bottom: 12px;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
}

.attorneys-page-selection-card {
    background-color: #f4f4f4;  
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.attorney-headshot {
    width: 100%;
    object-fit: cover;
    object-position: 0 25%;
    height: 300px;
    border-radius: 5px;
}

.eric-selection {
    object-position: 0 5%;
}

.attorney-selection-name {
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    
}

.attorney-selection-text {
    padding: 0 10px;
    margin-top: 10px;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 400;
}

.click-for-bio {
    width: 80%;
    text-align: center;
    background-color: white;
    padding: 15px 0px;
    border-radius: 30px;
    margin: 0 auto;
    font-weight: 500;
    margin-bottom: 10px;
    border: 1px solid rgba(211, 211, 211, 0.502);
}




@media screen and (min-width: 40em) {
   
   
    html {
        
    }
    

    .max-width-utility-class {
        max-width: 1200px;
        margin: 0 auto;
    }


    
    .header-mobile, .mobile-heading-banner {
        display: none;
    }

    .nav-bar-desktop-full-width-container {
        display: block;
    }

    /*CSS FOR DESKTOP HEADER*/

    header {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .header-desktop {
        display: flex;
        justify-content: space-between;

    }
    

    .header-office-info {
        display: flex;
        justify-content: space-between;
        width: 700px;

    }

    .header-office-info-module {
        display: grid;
        grid-template-columns: 25px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "icon bold-text"
            "icon normal-text"
            ;
    }

    .office-info-bold-text {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 17px;
        grid-area: bold-text;
        margin-bottom: 0;
        
    }


    .office-info-plain-text {
        font-family: 'Poppins', sans-serif;
        grid-area: normal-text;
        font-size: 15px;
        margin: 0;
    }

    .header-office-info-module i {
        font-size: 24px;
        grid-area: icon;
        margin-top: 17px;
        
    }

    .header-logo-desktop {
        max-width: 450px;
        margin-left: -30px;
    }

    .nav-bar-desktop-full-width-container {
        background-color: #f7f7f7;
        width: 100%;
        border-top: 1px solid rgba(211, 211, 211, .4);;
        border-bottom: 1px solid rgba(211, 211, 211, .4);
        margin-top: 20px;
        position: sticky;
        top: 0px;
    }

    .nav-bar-desktop {
        background-color: #f7f7f7;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        list-style: none;
        padding: 10px 0 10px 12px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #969696;
        column-gap: 50px;
        
    }

    .desktop-nav-anchor {
        text-decoration: none;
        color: #969696;
    }

    .desktop-nav-anchor:visited {
        color: #969696
    }

   

    .left-menu-items {
        display: flex;
        justify-content: flex-start;
        column-gap: 50px;
    }

    .desktop-nav-item {
        transition: color .3s;
    }
    .desktop-nav-item:hover {
        color: black;
    }

    .contact-desktop {
        border: 0px solid black;
        background-color: #bba285;
        color: rgb(23, 17, 12);
        padding: 5px 20px;
        border-radius: 5px;
        margin-right: 18px;
    }

    .contact-desktop:hover {
        background-color: black;
        color: white;
    }

    .practice-areas-flex-container {
        display: flex ;
        flex-wrap: wrap;
        justify-content: space-around;
       
    }

    .practice-area-card {
        width: 350px;
        margin-bottom: 40px;
        box-shadow: 0px 0px 20px rgba(208, 208, 208, .4);
    }


    /*ABOUT US HOMEPAGE DESKTOP*/

    .about-us-homepage {
        /* background-image: linear-gradient(to right, rgba(256, 256,256,1) 27%, rgba(117,19,93,0) 45%),
                          url('/img/finaltest3.webp'); */

        display: grid;
        column-gap: 63px;
        height: 500px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom 0px right -50px;
        background-color: #fff;
        padding: 10px 15px 0px 15px;
        margin-top: 30px;
        grid-template-areas: 
            "text-wrapper about-us-photo ";
    
        /* border: 1px solid rgba(128, 128, 128, .3); */
        /* box-shadow: 0 0 100px rgba(134, 134, 134, 0.1); */
    }

    .about-us-homepage-text-wrapper {
        grid-area: text-wrapper;

    }

    .about-us-homepage-photo {
        display: unset;
        grid-area: about-us-photo;
        width: 100%;
        border-radius: 3px;
    }

    .about-us-homepage-text {
        max-width: 350px;
    }

    /*CSS FOR MEET THE PARTNERS SECTION ON DESKTOP*/

    .attorney-bios .second-hr {
        margin-top: 6px;
    }

    .attorney-bios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;;
    }

    .attorney-bio-section-title {
        font-size: 30px;
        padding-bottom: 5px;
    }

    .attorney-bio-card {
        display: grid;
        grid-template-columns: 400px 1fr 1fr 1fr;
        grid-template-rows: 100px auto;
        grid-template-areas: 
            "bio-photo bio-name bio-name bio-name"
            "bio-photo bio-info bio-info bio-info"
            "bio-photo bio-info bio-info bio-info";
        margin-bottom: 30px;
        max-width: 950px;

    }
    
    .attorney-bio-photo {
        grid-area: bio-photo;
        padding-bottom: 0px;
        border-radius: 0px;
    }

    .attorney-bio-name {
        display: flex;
        justify-content: flex-start;
        padding-left: 45px;
        padding-top: 50px;
        grid-area: bio-name;
       
    }

    .bio-info {
        grid-area: bio-info;
        padding-right: 50px;
        padding-left: 30px;
    }


    /* ABOUT US DESKTOP CSS */
    .about-us-photo {
        display: block;
        padding-top: 30px;
        width: 900px;
        height: 525px;
        margin: 0 auto;
        object-fit: cover;
        object-position: 0% 40%;
        border-radius: 3px;
    }

    .about-us-text {
        /* max-width: 850px; */
        margin: 0 auto;
        margin-bottom: 15px;
        padding: 0 12% 15px 12%;
        font-size: 17px;
        font-weight: 400;
    }

    #carl-hr {
        margin-top: 60px;
    }

    .carl-photo {
        float: right;
        padding: 15px;
        top: 200px;
        border-radius: 18px;
    }

/* ATTORNEYS DESKTOP PAGE */

    .attorneys-selection-div {
        display: flex;
        gap: 30px;
                
    }

    .attorney-headshot {
        
        object-fit:cover;
        
    }

    .attorneys-page-selection-card {
        width: 400px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        

    }

    .click-for-bio {
        align-self: flex-end;;
    }
    

    footer {
        padding-top: 50px;
    }


}



/* DESKTOP ANIMATIONS START HERE */

@keyframes fadeInCraig {
    from {
        opacity: 0;
       
    }

    to {
        opacity: 1;
        
    }
}



/* .header-mobile {
    animation-duration: 1s;
    animation-name: fadeInCraig;
    animation-fill-mode: backwards; 
    animation-delay: 0s

}

.mobile-heading-banner {
    animation-duration: 1s;
    animation-name: fadeInCraig;
    animation-fill-mode: backwards; 
    animation-delay: .2s

}

.header-desktop {
    animation-duration: 1s;
    animation-name: fadeInCraig;
    animation-fill-mode: backwards; 
    animation-delay: .2s

}

.nav-bar-desktop-full-width-container {
    animation-duration: 1.25s;
    animation-name: fadeInCraig;
    animation-fill-mode: backwards; 
    animation-delay: .2s;
} */

.about-us-homepage {
    animation-duration: 1.25s;
    animation-name: fadeInCraig;
    animation-fill-mode: backwards; 
    animation-delay: .2s;
}

.practice-areas {
    animation-duration: 1.25s;
    animation-name: fadeInCraig;
    animation-fill-mode: backwards; 
    animation-delay: .4s;
}

.about-us-photo {
    animation-duration: 1.25s;
    animation-name: fadeInCraig;
    animation-fill-mode: backwards; 
    animation-delay: .2s;
}

.about-us-title {
    animation-duration: 1.25s;
    animation-name: fadeInCraig;
    animation-fill-mode: backwards; 
    animation-delay: .4s;
}

.about-us-text {
    animation-duration: 1.25s;
    animation-name: fadeInCraig;
    animation-fill-mode: backwards; 
    animation-delay: .6s;
}

.attorneys-selection-title {
    animation-duration: 1.25s;
    animation-name: fadeInCraig;
    animation-fill-mode: backwards; 
    animation-delay: .2s;
}

.attorneys-selection-div {
    animation-duration: 1.25s;
    animation-name: fadeInCraig;
    animation-fill-mode: backwards; 
    animation-delay: .4s;
}


